<html ng-app="message_app">
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   <script>
   angular.module('message_app',[]).
   controller('message_ctrl', [
              '$scope', '$http', '$timeout',
      function($scope,   $http,   $timeout) {
         // sending
         $scope.database = 'testing';
         $scope.level = 'INFO';
         $scope.message = 'Type a message here and hit send...';

         // receiving
         $scope.messages = [];
         $scope.url = "/messages/new";
         $scope.message_limit = 1000;

         $scope.send_message = function() {
            $http({
                url: "./db/"+$scope.database+'/messages',
                method: "POST",
                data: {
                       "message" : $scope.message,
                       "level"   : $scope.level
                      }
            }).then(function successCallback(response) {
                  // great, so what...
               }, function errorCallback(response) {
                  // that's bad, but not going to do anything about it
                  console.log('error', response.statusText);
            });
         };

         $scope.poll_for_new_messages = function() {
            $http({
                url: "./db/"+$scope.database+$scope.url,
                method: "GET"
                // TODO: set header to disallow cache since long polling
                // TODO: send id of last message received to get all since
                // ,data: {"foo":"bar"}
            }).then(function successCallback(response) {
                  // for each message in the data, if it's not in the messages we already have
                  // then append to messages
                  // limit our messages to _message_limit
                  for (var i = 0; i < response.data.length; i++) {
                     var d = response.data[i];
                     var found = false;
                     for (var j = 0; j < $scope.messages.length; j++) {
                        var m = $scope.messages[j];
                        if (m['timestamp'] == d['timestamp']) {
                           found = true;
                           break
                        }
                     }
                     if (!found) {
                        $scope.messages.push(d); // new message!
                     }
                  }

                  $timeout($scope.poll_for_new_messages, 0); // poll again
               }, function errorCallback(response) {
                  console.log('error', response.statusText);
                  $timeout($scope.poll_for_new_messages, 10000); // poll again in 10 seconds
            });
         };

         // on load, first time, start polling:
         $timeout($scope.poll_for_new_messages, 0); // poll for the first time

      }]);
   </script>
   <style>
      .INFO {background-color: #3498DB;}
      .DEBUG {background-color: #A569BD;}
      .WARN {background-color: #FFC300;}
      .ERROR {background-color: #FF5733;}
      .CRITICAL {background-color: #C70039; color: #ffffff;}

      td.message_data {
         border-radius: 3px;
      }
   </style>
</head>

<body>
   <div ng-controller="message_ctrl">

      <form id="form">
         <table>
            <tr>
               <td><label for="database">Database:</label></td>
               <td><input id="database" size="30" ng-model="database"/></td>

               <td rowspan="3" align="center">
                  <button id="send" ng-click="send_message()">Send</button>
               </td>
            </tr>
            <tr>
               <td><label for="level">Level:</label></td>
               <td><input id="level" size="15" ng-model="level"/></td>
            </tr>
            <tr>
               <td><label for="message">Message:</label></td>
               <td><input id="message" size="60" ng-model="message"/></td>
            </tr>
         </table>
      </form>

      <input ng-model="url" size="30"></input>
      <button ng-click="poll_for_new_messages()">Poll Now</button>
      <button ng-click="stop()">Stop</button>
      <span>{{error}}</span>
      <pre>{{data|json}}</pre>
      <table>
         <tr ng-repeat="message in messages">
            <td class="{{message.level}} message_data timestamp">{{message.timestamp}}</td>
            <td class="{{message.level}} message_data level">{{message.level}}</td>
            <td class="{{message.level}} message_data hostname">{{message.hostname}}</td>
            <td class="{{message.level}} message_data message">{{message.message}}</td>
            <td class="{{message.level}} message_data username">{{message.username}}</td>
         </tr>
      </table>

   </div>
   </body>
</html>
